*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 10%;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px); 
}

.nav-links{
display:flex;
list-style:none;
}

.nav-links li{
margin-left:20px;
}

.nav-links a{
text-decoration:none;
color:white;
}

.menu-icon{ 
display:none;
}

.hero{
height:90vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero span{
color:#38bdf8;
}

.btn{
background:#38bdf8;
padding:10px 20px;
margin-top:20px;
text-decoration:none;
color:white;
border-radius:5px;
}

section{
padding:80px 10%;
text-align:center;
}

.skill{
margin:20px auto;
max-width:400px;
}

.progress{
background:#ddd;
height:10px;
border-radius:5px;
}

.bar{
height:10px;
background:#38bdf8;
}

.html{width:90%;}
.css{width:80%;}
.js{width:70%;}

.projects{
display:flex;
gap:20px;
flex-wrap:wrap;
justify-content:center;
}

.project{
background:rgba(255,255,255,0.1);
padding:20px;
border-radius:10px;
width:250px;
}

.services{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.service-card{
background:rgba(255,255,255,0.1);
padding:30px;
border-radius:10px;
}

form{
display:flex;
flex-direction:column;
max-width:400px;
margin:auto;
}

input,textarea{
margin:10px 0;
padding:10px;
border-radius:5px;
border:none;
}

button{
background:#38bdf8;
padding:10px;
border:none;
cursor:pointer;
}

footer{
background:black;
padding: 20px;
text-align: center;
}

.socials i{
margin: 10px;
font-size:10px;
}

.dark{
background:white;
color:black;
}

@media(max-width:768px){

.menu-icon{
display:block;
cursor:pointer;
}

.nav-links{
display:none;
flex-direction:column;
}

}